<div class="hero-profile">
  <span *ngIf="data">
    <h3>Featured Hero Profile</h3>
    <h4>{{data.name}}</h4>

       {{data.bio}}
    <strong>Hire this hero today!</strong>
  </span>

  <span *ngIf="viewData">
    <h4>{{ viewData.nextViewName }}</h4>

    {{ viewData.data }}

    <p>Current view name : {{ viewData.viewName }}</p>

    <form [formGroup]="heroProfileForm">
      <h2>Hero Profile</h2>

      <label for="viewName">CurrentViewName: </label>
      <input id="viewName" type="text" formControlName="currentViewName">

      <p>
        <label for="data">Data: </label>
        <input id="data" type="text" formControlName="data">
      </p>

      <p>
        <label for="nextViewName">Next view name: </label>
        <input id="nextViewName" type="text" formControlName="nextViewName">
      </p>

    </form>
  </span>
</div>
